@{
    ViewData["Title"] = "ViewDataTasima";
}

<h1>@ViewData["title2"]</h1>
<br />
<h2>@ViewData["descriptions"]</h2>
<br />
<p>İsim: @ViewData["name"]</p>
<p>Soyisim: @ViewData["surname"]</p>
<p>Yaş: @ViewData["age"]</p>
<br />
@foreach (var item in ViewData["namesdata"] as List<string>)
{
    <p> @item </p>
}