@{
    ViewData["Title"] = "ViewBagTasima";
}

<h1>@ViewBag.title1</h1>
<br />
<h2>@ViewBag.descriptions</h2>
<br />
<p>@ViewBag.name</p>
<br />
<p>@ViewBag.person.Id - @ViewBag.person.isim - @ViewBag.person.yas </p>